@using BlazorFgr.Core.Utilities.Diagnostics

<FgrDiagnosticsPopover Class="border-0">
    <div
        class="card position-relative"
        style="min-width: 8rem">
        <FgrDiagnosticsPopoverCloseButton Class="btn-close position-absolute top-0 end-0 m-3" />
        <div class="card-body">
            <div class="row">
                <label
                    for="render-count"
                    class="col-sm-6 col-form-label">Render Count</label>
                <div class="col-sm-6">
                    <input
                        type="text"
                        readonly
                        class="form-control-plaintext"
                        id="render-count"
                        value="@context.RenderCount">
                </div>
            </div>
            <div class="row">
                <label
                    for="source-count"
                    class="col-sm-6 col-form-label">Source Count</label>
                <div class="col-sm-6">
                    <input
                        type="text"
                        readonly
                        class="form-control-plaintext"
                        id="source-count"
                        value="@context.SourceCount">
                </div>
            </div>
        </div>
    </div>
</FgrDiagnosticsPopover>

<FgrDiagnosticsPopoverShowButton Class="btn btn-primary">
    Diagnostics
</FgrDiagnosticsPopoverShowButton>