<div
    id="@PopoverId"
    class="@Class"
    style="@Style"
    @attributes="AdditionalAttributes"
    popover>
    @if (Diagnostics is not null)
    {
        @ChildContent?.Invoke(Diagnostics)
    }
</div>

@code {

    [Parameter]
    public RenderFragment<FgrDiagnostics>? ChildContent { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string? Style { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
    
    [CascadingParameter(Name = "popover-id")]
    public string? PopoverId { get; set; }
    
    [CascadingParameter]
    public FgrDiagnostics? Diagnostics { get; set; }

}