@using Microsoft.Extensions.Options

@inject IOptions<FgrOptions> Options

@if (Options.Value.AreDiagnosticsEnabled)
{
    <CascadingValue
        Value="this"
        IsFixed="true">
        @Options.Value.DiagnosticsPopoverContent
        <div class="@Class"></div>
    </CascadingValue>
}

@code {

    private string Class => "fgr-diagnostics-anchor" + Options.Value.DiagnosticsAnchorAdditionalClass?.Trim();

    [Parameter]
    public string DialogId { get; set; } = $"fgr-diagnostics-{Guid.NewGuid()}";

    [Parameter]
    [EditorRequired]
    public FgrDiagnostics Diagnostics { get; set; }

}